@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor-default: #0d1117;
  --bgColor-muted: #151b23;
  --bgColor-inset: #010409;
  --bgColor-neutral-muted: #656c7633;

  --borderColor-default: #3d444d;
  --borderColor-muted: #3d444db3;
  --borderColor-emphasis: #656c76;

  --fgColor-default: #f0f6fc;
  --fgColor-muted: #9198a1;
  --fgColor-accent: #4493f8;
  --fgColor-danger: #f85149;

  --button-default-bgColor-rest: #212830;
  --button-default-bgColor-hover: #262c36;
  --bgColor-accent-emphasis: #1f6feb;
  --underlineNav-borderColor-active: #f78166;

  --contribution-L0: #151b23;
  --contribution-L1: #033a16;
  --contribution-L2: #196c2e;
  --contribution-L3: #2ea043;
  --contribution-L4: #56d364;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customscrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, and newer versions of Edge) */
.customscrollbar-none::-webkit-scrollbar {
  display: none;
}
